<mat-card>
<ng-container [ngSwitch]="appService.selectedMenu">
    <section *ngSwitchCase="'home'">
    <h1>Home</h1>
    <p>
        Ibi victu recreati et quiete, postquam abierat timor, vicos opulentos adorti equestrium adventu cohortium, quae casu propinquabant, nec resistere planitie porrecta conati digressi sunt retroque concedentes omne iuventutis robur relictum in sedibus acciverunt.
    </p>
    </section>

    <section *ngSwitchCase="'skills'">
    <h1>Skills</h1>
    <p>
        Est fugiat consequat laborum nostrud deserunt proident esse fugiat dolor. Ut consectetur eiusmod eu exercitation aute nostrud veniam velit sunt voluptate nisi irure occaecat voluptate. Incididunt aliqua dolore incididunt sunt nisi velit officia consequat laboris officia duis culpa. Dolor est cupidatat excepteur qui consectetur duis non Lorem irure consectetur fugiat tempor.
    </p>
    </section>

    <section *ngSwitchCase="'experiences'">
    <h1>Experiences</h1>
    <p>
        In quis occaecat ut qui in irure quis cillum quis nulla nostrud. Labore ipsum sint commodo qui reprehenderit in qui. Ad elit cillum voluptate voluptate consectetur mollit incididunt deserunt deserunt pariatur culpa magna.
    </p>
    </section>

    <section *ngSwitchCase="'contact'">
    <h1>Contact</h1>
    <p>
        Ad labore culpa ad fugiat ad magna irure eiusmod minim consectetur irure sit esse. Ad enim occaecat incididunt aliqua. Culpa velit incididunt elit duis sint ullamco magna. Laborum do duis nulla Lorem. Elit excepteur laboris non deserunt veniam id. Minim ea et dolore in quis.
    </p>
    </section>

    <section *ngSwitchCase="'todolist'">
        <h1>To Do List</h1>
        <p>
            <app-add></app-add>
            <app-list></app-list>
        </p>
        </section>

    <section *ngSwitchCase="'legal'">
    <h1>Legal notice</h1>
    <p>
        Tempor exercitation enim elit dolor ut labore duis tempor ut magna. Eiusmod sunt elit aliqua in. Magna consequat deserunt qui eu deserunt ullamco. Culpa minim cillum non consequat sint minim nostrud officia ut do ea Lorem magna. Et tempor aliqua non culpa do.
    </p>
    </section>

    <section *ngSwitchCase="'credits'">
    <h1>Credits</h1>
    <p>
        Ut exercitation cillum cillum Lorem ex aliquip ex deserunt nisi labore id labore. Lorem cillum ut proident enim non deserunt. Cupidatat ipsum laboris ea quis et laborum adipisicing sint culpa culpa pariatur deserunt. Ullamco laborum enim sunt aute tempor ad consectetur exercitation consequat est. Consectetur aliquip quis exercitation elit in cillum ullamco cillum. Amet exercitation ex in voluptate. Sint cillum cillum sint non deserunt veniam dolore mollit adipisicing in id cupidatat commodo anim.
    </p>
    </section>
</ng-container>
</mat-card>